{% extends 'base.html' %}

{% set page_head_title = 'Sign In' %}

{% block page_head_css %}
   <link rel="stylesheet" href="{{ url_for('register.static', filename='css/register.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="register-container">
        <div class="register-box">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form id="my-form" class="block" method="post" action="{{ url_for('register.index') }}">
                <h1> Create An Account</h1>
                <hr>
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" required> <br>
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" required> <br>
                <label for="Phone">Phone:</label>
                <input type="text" id="Phone" name="Phone" required> <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required> <br>
                <label for="Gender">Gender:</label>
                <select id="Gender" name="Gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select><br>
                <label for="Birthday">Birthday:</label>
                <input type="date" id="Birthday" name="Birthday" required>
                <p class="movie-to-sign-in">Already have an account? Sign In<a id="sign-in-link"
                                                                               href="../../templates/sign-in.html">
                    here</a>.</p>

                <div class="sign-in-button">
                    <input type="submit" value="Register">

                </div>
                <ul id="User"></ul>


            </form>
        </div>
    </div>
{% endblock %}
