{% extends 'base.html' %}

{% set page_head_title = 'sign_in' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('sign_in.static', filename='css/sign-in.css') }}"/>
{% endblock %}


{% block page_content %}
    <div class="sign-in-box-container">
        <div class="sign-in-box">
            <form id="my-form" class="block" method="post" action="/sign_in">
                <h1> Sign In</h1>
                <hr>
                <label for="email">Email:</label> <br>
                <input type="text" id="email" name="email" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <p>Don't have an account? Register<a href="../../register/templates/register.html"> here</a>.</p>
                <div class="sign-in-button">
                    <input type="submit" value="Sign In">
                </div>
            </form>
        </div>

    </div>
{% endblock %}
